.product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 0 0 5%;
    box-shadow: 0px 5px 50px black;
    width: 80%;
    height: 46rem;

    &-image{
        height: 20rem;
        width: 20rem;
    }
    &-btn{
    width:100%;
    padding: 1rem;
    border:none;
    outline:none;
    background: #c1908b;
    color:white;
    margin-top:10%;
    border-radius: 30px;
    }
    &-title{
   color:#af827d;
    font-size: 1.6rem;
    width: 500px;

    }
    &-des{
        margin-top: 2rem;
    color:#837d7c;
    width: 500px;
    }
    &-price{
        margin-top: 2rem;
   color:#af827d;

    }

}

@media only screen and (max-width: 1100px){
.product{

&-title{
    width: 200px;
}
&-des{
width: 200px;
}
}
}


@media only screen and (max-width: 44rem){
    .product{
      flex-direction: column;
    height: 50rem;

        &-title{
            width: 300px;
        }
        &-des{
        width: 300px;
        }
    }
}

@media only screen and (max-width: 25.2rem){
    .product{
        height: 60rem;
    
    &-title{
        width: 200px;
    }
    &-image{
        height: 20rem;
        width: 16rem;
    }
    &-des{
    width: 200px;
    }
    }
    }